.connectWallet {
  margin-bottom: 200px;
}

.btn1 {
  background-color: #a64dff;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
